/* * {
  border: 1px solid black;
  margin: 3px;
  padding: 3px;
} */

#projects {
  display: flex;
  justify-content: center;
  /* overflow: auto; */
}

#projectsWrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
}

/* rendered components css (addProject folder)*/

.renderedBox {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.projectTabs {
  backdrop-filter: blur(2px);
}

.projectTabsLinksBox {
  display: flex;
  flex-direction: row-reverse;
  gap: 1em;
}

@media only screen and (max-width: 1000px) {
  #projectsWrap {
    width: 80vw;
    font-size: medium;
  }

}

@media only screen and (max-width: 750px) {
  #projectsWrap {
    font-size: small;
  }
}