/* * {
  border: 1px solid black;
  margin: 3px;
  padding: 3px;
} */

#projects {
  display: flex;
  justify-content: center;
  /* overflow: auto; */
}

#projectsWrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* rendered components css (addProject folder)*/

.projectTabs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  backdrop-filter: blur(2px);
  margin: 4em;
}

.projectTabsLinksBox {
  display: flex;
  flex-direction: row-reverse;
  gap: 1em;
}