/* * {
  border: 1px solid red;
  padding: 5px;
  margin: 5px;
} */

.panels {
  /* overflow-y: scroll; */
  scroll-behavior: smooth;
  height: fit-content;

  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(./Pics/katerina-kerdi--YiJvbfNDqk-unsplash.jpg);

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}

.pages {
  height: 100vh;
  text-shadow: 0 0 3px black;
}

#linkedin {
  border-radius: 5px;
  margin-top: 15px;
  width: 2rem;
  transition: transform 250ms;
}

#linkedin:hover {
  transform: translateY(-4px);
}

#github {
  margin-top: 15px;
  width: 2rem;
  transition: transform 250ms;
}

#github:hover {
  transform: translateY(-4px);
}

#emailIcon {
  border-radius: 5px;
  margin-top: 15px;
  width: 2rem;
  transition: transform 250ms;
}

#emailIcon:hover {
  transform: translateY(-4px);
}

/* underline Links  */

.underlineLinks {
  color: blanchedalmond;
  display: inline-block;
  position: relative;
}

.underlineLinks::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: burlywood;
  transform-origin: bottom right;
  transition: transform 650ms ease-out;
}

.underlineLinks:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a {
  color: cornsilk;
  text-decoration: none;
  /* background-color: burlywood; */
}

@media only screen and (max-width: 1000px) {
  .pages {
    padding: 0;
    margin: 0;
    height: 100vh;
    /* width: fit-content; */
  }

}

@media only screen and (max-width: 750px) {
  .pages {
    font-size: large;
    padding: 0;
    margin: 0;
    height: 100vh;
    /* width: fit-content; */
  }

}