/* * {
  border: 1px solid red;
  padding: 5px;
  margin: 5px;
} */

/* Hide scrollbar for Chrome, Safari and Opera */
.body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.panels {
  /* overflow-y: scroll; */
  scroll-behavior: smooth;
  height: fit-content;

  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(./Pics/katerina-kerdi--YiJvbfNDqk-unsplash.jpg);

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}

.pages {
  height: 100vh;
  text-shadow: 0 0 1px black;
}

/* .aboutMeText {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: slideIn 1000ms ease-in-out both;
  animation-iteration-count: 1;
  backdrop-filter: blur(5px);
} */


/* add project pages */

/* .projectTabs {
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 1px 2px 0 rgba(66, 60, 67, 0.3), 0 2px 6px 2px rgb(60 64 67 / 30%);
  border-radius: 10px;
  padding: 2rem;
  margin: 1rem;
  width: 25rem;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.3s ease-in-out;

  backdrop-filter: blur(5px);
} */

/* .projectTabs:hover {
  border: 2px solid #d877f6;
  box-shadow: 0 1px 2px 0 rgba(66, 60, 67, 0.3), 0 2px 6px 2px rgb(60 64 67 / 60%);
} */

/* .projectTabsText {
  font-size: medium;
} */

/* .projectTabsLinksBox {
  margin-top: auto;
} */

/* .projectsLinks {
  color: rgb(206, 223, 206);
  display: inline-block;
  padding: 5px 0;
  position: relative;
  margin-top: auto;
} */

/* .projectsLinks:before {
  content: '';
  background: #d877f6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
} */

/* .projectsLinks:hover::before {
  width: 100%;
} */

/* .boxBorder {
  box-shadow:
    12px 12px 16px 0 rgba(0, 0, 0, 0.156);
  border-radius: 2%;
}

.imageBox {
  margin: 1px;
  border: 1px;
}

.aboutMePic {
  opacity: 80%;
  margin: 1vh;
  height: 50vh;
  border-radius: 1%;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 30%);
  transition: opacity .2s ease-in-out;
}

.aboutMePic:hover {
  opacity: 1;
} */

/* #projects {
  min-height: 100vh;
  height: fit-content;
} */

/* .projectsPageBox {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
} */

#linkedin {
  border-radius: 5px;
  margin-top: 15px;
  width: 2rem;
  transition: transform 250ms;
}

#linkedin:hover {
  transform: translateY(-4px);
}

#github {
  margin-top: 15px;
  width: 2rem;
  transition: transform 250ms;
}

#github:hover {
  transform: translateY(-4px);
}

#emailIcon {
  border-radius: 5px;
  margin-top: 15px;
  width: 2rem;
  transition: transform 250ms;
}

#emailIcon:hover {
  transform: translateY(-4px);
}

@media only screen and (max-width: 1000px) {
  .pages {
    padding: 0;
    margin: 0;
    height: 100vh;
    /* width: fit-content; */
  }

}

@media only screen and (max-width: 750px) {
  .pages {
    font-size: large;
    padding: 0;
    margin: 0;
    height: 100vh;
    /* width: fit-content; */
  }

}