/* * {
  border: 1px solid rebeccapurple;
  margin: 2px;
  padding: 2px;
} */

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nanum Brush Script', cursive;
  font-family: 'Poiret One', cursive;
  font-size: x-large;
  font-weight: bold;
  letter-spacing: 4px;
  /* background-color: rgb(255, 239, 220); */
  /* background-image: url("././Pics/background.jpg"); */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  /* background-position: bottom right; */
  height: 100vh;
  width: 100vw;
}

code {
  font-size: large;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
  margin-right: 25px;
}

/* Nav bar  */

nav {
  width: 100%;
  top: 0;
  height: 6vh;
  display: flex;
  justify-content: flex-start;
  background-color: #142734;
  opacity: 95%;
  position: absolute;
  box-shadow: 0 1px 2px 0 rgba(66, 60, 67, 0.3), 0 2px 6px 2px rgb(60 64 67 / 30%);
  z-index: 100;
}

.dropdown {
  top: 0;
  width: 20vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #314d68;
  position: relative;
  perspective: 1000px;
  /* z-index: 100; */
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown:hover .dropdownMenu li {
  display: block;
}

.dropdownMenu {
  position: absolute;
  top: 6vh;
  left: 0;
  width: 100%;
  perspective: 1000px;
  z-index: -1;
}

.dropdownMenu li {
  display: none;
  color: #fff;
  background-color: #2e3f4f;
  padding: 10px 20px;
  opacity: 0;
}

.dropdownMenu li:hover {
  background-color: #2770a1;
}


.dropdownMenu .dropdownItem-1 {
  transform-origin: top center;
  animation: pop 200ms 60ms ease-in-out forwards;
}

.dropdownMenu .dropdownItem-2 {
  transform-origin: top center;
  animation: pop 200ms 120ms ease-in-out forwards;
}

.dropdownMenu .dropdownItem-3 {
  transform-origin: top center;
  animation: pop 200ms 180ms ease-in-out forwards;
}

@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  80% {
    transform: scale(1.07);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Body contents and scrolling componenents*/

.panels {
  overflow-y: scroll;
  /* scroll-snap-type: y proximity; */
  height: 100vh;
}

.pages {
  padding: 1rem 10rem;
  margin: 0;
  height: 100vh;
  scroll-margin-top: 6vh;
  text-shadow: 0 0 1px black;
  /* scroll-snap-align: start; */
}

/* add project pages */

.projectTabs {
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 0 1px 2px 0 rgba(66, 60, 67, 0.3), 0 2px 6px 2px rgb(60 64 67 / 30%);
  background-color: rgb(215, 251, 232);
  border-radius: 10px;
  padding: 2rem;
  margin: 1rem;
  width: 25rem;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.3s ease-in-out;
}

.projectTabs:hover {
  border: 2px solid #d877f6;
  box-shadow: 0 1px 2px 0 rgba(66, 60, 67, 0.3), 0 2px 6px 2px rgb(60 64 67 / 60%);
}

.projectTabsText {
  font-size: medium;
}

.projectTabsLinksBox {
  margin-top: auto;
}

.projectsLinks {
  color: black;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  margin-top: auto;
}

.projectsLinks:before {
  content: '';
  background: #d877f6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.projectsLinks:hover::before {
  width: 100%;
}

#aboutMe {
  background-color: rgb(215, 251, 232);
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutMeText {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: slideIn 500ms ease-in-out both;
  animation-iteration-count: 1;
}


@keyframes slideIn {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.boxBorder {
  box-shadow:
    12px 12px 16px 0 rgba(0, 0, 0, 0.156);
  /* -8px -8px 12px 0 rgba(255, 255, 255, 0.411) */
  border-radius: 2%;
}

.imageBox {
  /* border-radius: 1%; */
  margin: 1px;
  border: 1px;
}

.aboutMePic {
  opacity: 60%;
  margin: 1vh;
  height: 50vh;
  border-radius: 1%;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 30%);
  transition: opacity .2s ease-in-out;
}

.aboutMePic:hover {
  opacity: 1;
}

#projects {
  background-color: rgb(157, 243, 196);
  min-height: 100vh;
  height: fit-content;
}

.projectsPageBox {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

#contact {
  background-color: rgb(98, 210, 162);
}

#linkedin {
  background-color: #484a4d;
  border-radius: 5px;
  margin-top: 15px;
  width: 4rem;
  transition: transform 250ms;
}

#linkedin:hover {
  transform: translateY(-3px);
}

#github {
  margin-top: 15px;
  background-color: #484a4d;
  width: 4rem;
  transition: transform 250ms;
}

#github:hover {
  transform: translateY(-3px);
}

@media only screen and (max-width: 1000px) {
  .pages {
    padding: 40px;
    padding-top: 50px;
  }

  #aboutMe {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
  }

  .boxBorder {
    margin: 20px;
  }

  #projects {
    overflow: auto;
  }

}

@media only screen and (max-width: 750px) {
  body {
    font-size: medium;
  }

  .dropdown {
    width: 33vw;
  }
}